.row
  .jumbotron
    %h1
      %span Cuadrante
      .input-group
        %span{ class: "input-group-addon" }
          %i{ class: "glyphicon glyphicon-calendar" }
        %input{ type: "text", id: "quadrant-date", class: "form-control" }

.row
  .col-xs-12
    = edit_quadrant(@date).html_safe

.row
  .col-xs-12.text-center
    %span{ class: "btn btn-success", id: "save-btn" } Guardar cuadrante

.row
  %br
  %br
  %br
  %br
  %br
  %br

:javascript
  window.userPayload = {
    _users: [1,2],
  }
