 /*
 *= require_self
 *= require bootstrap-datepicker3
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "sidebar";

  $nprogress-color: rgba(158, 32, 50, 1);
  @import "nprogress";
  @import "nprogress-bootstrap";

  .well::before {
  content: attr(data-content);
  text-align: right;
  display: block;
  color: #cdcdcd;
  }

  .well-sm > .row > .col-xs-12 > .bg-warning {
    line-height: 6em;
  }

  .well-sm > .row > .col-xs-12 > .bg-info,
  .well-sm > .row > .col-xs-12 > .bg-success {
    line-height: 3em;
  }
